# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/*
!data/.gitkeep

# Models
models/
*.bin
*.pt
*.pth
*.safetensors

# Logs
*.log

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db