fastapi
uvicorn[standard]
python-multipart
requests

langgraph
langchain
langchain-community
langchain-core
langchain-ollama
ollama

qdrant-client

FlagEmbedding
torch
transformers
sentence-transformers
sentencepiece

docling

pydantic
pydantic-settings
python-dotenv

numpy